<table>
  <% @dogs.each do |dog| %>
    <tr>
      <td><%= link_to dog.name, dog_path(dog) %></td>
      <%= stylesheet_link_tag 'application.css' %>
        <td><%= dog.motto %></td>
      <td><%= button_to 'Edit', edit_dog_path(dog), method: 'get'%></td>
      <td><%= button_to 'Remove', dog_path(dog), method: 'delete', data: { confirm: 'Are you sure?' } %></td>
  <% end %>
</table>
<div class="container">
<div id = "btn-2">
<%= link_to "Add a New Dog", new_dog_path %>
    </div>
</div>


